/* body{
  font-family: "Monaco", Monospace;
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(52,163,168),rgb(52,163,168));
  
  height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.5rem;
} */

table{
  margin-top: 2%;
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%,-50%);
  border-collapse: collapse;
  width: 1000px;
  height: 200px;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),
              -1px, -1px, 8px rgba(0, 0, 0, 0.2);
}

tr{
  transition: all 0.2s ease-in;
  cursor: pointer;
  background: rgba(0,0,0,0.3);
  /* background-color: #f5f5f5; */
  color: white;
}

th,td{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#header{
  background-color: #16a085;
  color: #fff;
}

h1{
  font-weight: 600;
  text-align: center;
  background-color: #16a085;
  color: #fff;
}

tr:hover{
  background-color: #f5f5f5;
  transform: scale(1.02);
  color: black;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),
              -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px){
  table{
      width: 90%;
  }
}

.btn-div{
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  /* width: 70px; Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  height: 15px;
  margin-top: 25px;
  margin-left: 1.5%;
}
#myInput2 {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  /* width: 70px; Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  height: 15px;
  margin-top: 25px;
  margin-left: 1.5%;
}

.input_search{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input_search h4{
}

/* #myTable {
  border-collapse: collapse;
  width: 100%; 
  border: 1px solid #ddd; 
  font-size: 18px; 
}

#myTable th, #myTable td {
  text-align: left; 
  padding: 12px; 
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
} */

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.input_search{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 480px;
}

.input_search h4{
  margin-right: 5%
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
  font-size: 1.3rem;
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background-image: linear-gradient(to right top, #44ade9, #38a4e9, #309be8, #2f91e7, #3487e4, #348fe6, #3796e8, #3c9dea, #59b5ec, #80cbed, #abdfef, #d7f2f6);
    width: 100%;
    height:100vh;  
    margin-bottom: 0px; 
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}