body {
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(52,163,168),rgb(52,163,168)); background-size: 72px 72px;
    margin: 0 0;
}

.background{
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cricket{
    height: 250px;
    width: 250px;
    background-color: red;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin-left: 2%;
    cursor: pointer;
    background-color: white;
}

img{
    width: 100%;
    height: 80%;
}
h2{
    padding: 0 0;
    margin: 0 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}