/* body{
    font-family: "Titillium Web", sans-serif;
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(52,163,168),rgb(52,163,168)); background-size: 72px 72px;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
html{
    height: 100%;
}

#sports{
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#a{
    padding-left: 25%;
}
#b{
    padding-left: 25%;
}
.row{
    width: 100%;
}
.card{
border: solid white .3rem;
}
#football{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(football.jpg);
    opacity: 0.65;
    height: 10rem;
    width: 24rem;
}

#cricket{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(crciket.JPG);
    opacity: 0.60;
    height: 10rem;
    width: 24rem;
}

#basketball{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(basket.JPG);
    opacity: 0.75;
    height: 10rem;
    width: 24rem;
}

#vollyball{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(vollyball.JPG);
    opacity: 0.75;
    height: 10rem;
    width: 24rem;
}

#tt{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(tt.JPG);
    opacity: 0.60;
    height: 10rem;
    width: 24rem;
}


#chess{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(chess1.JPG);
    opacity: 0.70;
    height: 10rem;
    width: 24rem;
}

#Kabbadi{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(k3.JPG);
    opacity: 0.65;
    height: 10rem;
    width: 24rem;
}



.card #football{
    padding: 0%;
    margin-bottom: 10%;
    background-image: url(football.jpg);
    height: 10rem;
    width: 24rem;
}

.card:hover{
    transform: scale(1.1);
    transition: .6s;
    border: solid .2rem #86eced ;

}

.card:active{
    transform: scale(1.1);
    border: solid .2rem green ;

}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background-image: linear-gradient(to right top, #44ade9, #38a4e9, #309be8, #2f91e7, #3487e4, #348fe6, #3796e8, #3c9dea, #59b5ec, #80cbed, #abdfef, #d7f2f6);
    width: 100%;
    height:100vh;   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}