select{
    background-color: red;
    border-radius: 5rem;
  }

  body{
    font-family: "Monaco", Monospace;
    background-image: linear-gradient(to top, #156b66, #166f6c, #187372, #1a7778, #1c7b7e, #308487, #3f8e91, #4e979a, #69a8a9, #83bab9, #9dcbca, #b6dddb);

    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.5rem;
}

table{
    margin-top: 3%;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
    border-collapse: collapse;
    width: 1000px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),
                -1px, -1px, 8px rgba(0, 0, 0, 0.2);
}

tr{
    transition: all 0.2s ease-in;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
    /* background-color: #f5f5f5; */
    color: white;
}

th,td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header{
    background-color: #16a085;
    color: #fff;
}

h1{
    font-weight: 600;
    text-align: center;
    background-color: #16a085;
    color: #fff;
}

tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    color: black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),
                -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px){
    table{
        width: 90%;
    }
}
